# Node / TypeScript
node_modules/
dist/
*.log

# Environment files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db

# Build caches
.cache/
.nyc_output/
coverage/

# IDE files
.vscode/
.idea/

# Ngrok config
.ngrok2/

# Python virtual environment
.venv/
